<strong>Olá, {{ organizer }}</strong>
<p>Houve uma inscrição no meetup <b>{{ meetup }}</b> que acontecerá no {{ date }}.</p>
<p>Dados do usuário:</p>
<ul>
  <li><b>Nome:</b> {{ user }}</li>
  <li><b>E-mail:</b> {{ email }}</li>
</ul>
